<div class="panel">
	<div class="panel-content table-responsive">
		<div class="form-inline">
			
			<div class="row" role="navigation">
				<div class="col-xs-6">
					<div class="form-group">
						<input id="type" name="type" type="hidden" data-placeholder="Choose Type" style="min-width: 300px; width: 300px;">
					</div>
				</div>
				<div class="col-xs-6">
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-md-6 line-separator">
				
					<table class="table table-hover table-bordered" role="map">
						<thead>
							<tr role="header">
							</tr>
						</thead>
						<tbody role="items">
						</tbody>
					</table>
				
				</div>
				
				<div class="col-md-6">
					
				</div>
				
			</div>
		</div>
	</div>
</div>
