<div class="btn-group">
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_TOP %>" title="Align to top"><i class="material-icons">vertical_align_top</i></button>
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_MIDDLE %>" title="Align to middle"><i class="material-icons">vertical_align_center</i></button>
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_BOTTOM %>" title="Align to bottom"><i class="material-icons">vertical_align_bottom</i></button>
</div>
<div class="btn-group">
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_LEFT %>" title="Align to left"><i class="material-icons">format_align_left</i></button>
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_CENTER %>" title="Align to center"><i class="material-icons">format_align_center</i></button>
	<button class="btn btn-xs btn-icon btn-default" data-action="alignment" data-value="<%= IMAGE_ALIGNMENT_RIGHT %>" title="Align to right"><i class="material-icons">format_align_right</i></button>
</div>