<div class="panel">
	<div class="panel-content table-responsive">
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-9" role="filter">
					<div class="form-group">
						<input id="period" name="period" type="hidden" data-placeholder="Choose Period" style="min-width: 300px; width: 300px;">
					</div>
				</div>
				<div class="col-xs-3">
				</div>
			</div>
			<table class="table table-hover table-bordered table-schedule m-t-20">
				<thead>
					<tr>
						<th class="col-md-1">Monday</th>
						<th class="col-md-1">Tuesday</th>
						<th class="col-md-1">Wednesday</th>
						<th class="col-md-1">Thursday</th>
						<th class="col-md-1">Friday</th>
						<th class="col-md-1">Saturday</th>
						<th class="col-md-1">Sunday</th>
					</tr>
				</thead>
				<tbody role="items">
				</tbody>
			</table>
		</div>
	</div>
</div>

<form rel="<%= ID %>" role="form"></form>
