<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Interview</strong> <span class="model-op">view</span> <span class="model-id"></span></h4>
			</div>
			<div class="modal-body" role="notification">
				
				<div class="noty-container"></div>
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#interview-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="interview-form-general">
				
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Card name</label>
											<p data-name="interviewTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Title</label>
											<p data-name="interviewHeader" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Sub Title</label>
											<p data-name="interviewSubHeader" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="interviewDescription">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<h3>Expanded screen</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Article Title</label>
											<p data-name="interviewDetailTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Article</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="interviewDetailDescription">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<h3>Link</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Source Url</label>
											<p data-name="interviewURL" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Interviewing brand</label>
											<p data-name="interviewingBrand" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<h3>Video</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Square / Vimeo</label>
											<p data-name="interviewVideoURL" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>option to hide</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Title and Sub Title</label>
											<p data-name="interviewHideHeader" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Interview Picture</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div id="interviewPicture"></div>
										</div>
									</div>
									
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit Picture</label>
											<p data-name="pictureCredit" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit Picture URL</label>
											<p data-name="pictureCreditURL" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Picture Allignment </label>
											<p data-name="interviewPictureAlignment" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Color</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Color</label>
											<p data-name="color" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
							
							</div>
								
						</div>
					
					</div>
					
					
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>