<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Boutique</strong> <span class="model-op">view</span> <span class="model-id"></span></h4>
			</div>
			<div class="modal-body" role="notification">
				
				<div class="noty-container"></div>
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#boutique-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
					<li><a href="#boutique-form-additional" data-toggle="tab"><i class="icon-layers"></i> Additional</a></li>
					<li><a href="#boutique-form-map" data-toggle="tab"><i class="icon-map"></i> Map</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="boutique-form-general">
				
						<div class="row">
							
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">City</label>
									<p data-name="city" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Country</label>
									<p data-name="country" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">State</label>
									<p data-name="state" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label">Zip</label>
									<p data-name="postCode" class="form-control">&nbsp;</p>
								</div>
							</div>
							
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Address</label>
									<p data-name="streetAddress" class="form-control">&nbsp;</p>
								</div>							
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Phone</label>
									<p data-name="phoneNumber" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Email</label>
									<p data-name="storeEmail" class="form-control">&nbsp;</p>
								</div>
							</div>
							
						</div>
						
						<h3>Location</h3>
						
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Latitude</label>
									<p data-name="geoLocation" rel="latitude" class="form-control">&nbsp;</p>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Longitude</label>
									<p data-name="geoLocation" rel="longitude" class="form-control">&nbsp;</p>
								</div>
							</div>
							
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="boutique-form-additional">
						
						<div class="row column-seperation">
					
							<div class="col-md-6 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Card Name</label>
											<p data-name="boutiqueTitle" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Boutiques name</label>
											<p data-name="boutiqueName" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit</label>
											<p data-name="boutiqueDescription" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Expanded screen</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Article Title</label>
											<p data-name="boutiqueDetailTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Article</label>
											<p data-name="boutiqueDetailDescription" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Link</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Title Url</label>
											<p data-name="boutiqueLinkTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Source Url</label>
											<p data-name="boutiqueURL" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<h3>Boutique logo</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div id="logo" class="image-list-transparent"></div>
										</div>
									</div>
									
								</div>
								
								<h3>Boutique Picture</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div id="boutiquePicture"></div>
										</div>
									</div>
									
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit Picture</label>
											<p data-name="pictureCredit" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Credit Picture URL</label>
											<p data-name="pictureCreditURL" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Picture Allignment</label>
											<p data-name="boutiquePictureAlignment" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<h3>Color</h3>
						
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Color</label>
											<p data-name="color" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
							</div>
								
						</div>
						
					</div>
					
					
					<div class="tab-pane fade" id="boutique-form-map">
						
						<div class="row column-seperation">
					
							<div class="col-md-6 line-separator">
								
								<h3>Map Picture</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div id="mapPicture"></div>
										</div>
									</div>
									
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Map Title</label>
											<p data-name="mapTitle" class="form-control">&nbsp;</p>
										</div>							
									</div>
								
								</div>
								
							</div>
						
						</div>
						
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>