<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong><%= TITLE %></strong> <span class="model-op"></span> <span class="model-id"></span></h4>
			</div>
			<div class="modal-body" role="notification">
				
				<div class="noty-container"></div>
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#<%= ID %>-form-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
					<li><a href="#<%= ID %>-form-logo" data-toggle="tab"><i class="icon-picture"></i> Logo</a></li>
					<li><a href="#<%= ID %>-form-image" data-toggle="tab"><i class="icon-picture"></i> Image</a></li>
					<li><a href="#<%= ID %>-form-address" data-toggle="tab"><i class="icon-map"></i> Boutique Address</a></li>
					<li><a href="#<%= ID %>-form-shipper" data-toggle="tab"><i class="icon-map"></i> Shipping Address</a></li>
					<li><a href="#<%= ID %>-form-security" data-toggle="tab"><i class="icon-users"></i> Security</a></li>
					<li><a href="#<%= ID %>-form-map" data-toggle="tab"><i class="icon-map"></i> Map</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="<%= ID %>-form-general">
						
						<div class="row column-seperation">
					
							<div class="col-md-6 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="subject" class="control-label">Card Name</label>
											<input id="subject" name="subject" type="text" class="form-control multilanguage-control form-white" form="<%= ID %>-form">
										</div>							
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="title" class="control-label">Boutiques name</label>
											<input id="title" name="title" type="text" class="form-control multilanguage-control form-white" form="<%= ID %>-form">
										</div>							
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="desc" class="control-label">Credit</label>
											<textarea id="desc" name="desc" class="form-control multilanguage-control form-white" rows="5" form="<%= ID %>-form"></textarea>
										</div>
									</div>
								</div>
								
								<h3>Expanded screen</h3>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="detailTitle" class="control-label">Article Title</label>
											<input id="detailTitle" name="detailTitle" type="text" class="form-control multilanguage-control form-white" form="<%= ID %>-form">
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="detailDesc" class="control-label">Article</label>
											<textarea id="detailDesc" name="detailDesc" class="form-control multilanguage-control form-white" rows="5" form="<%= ID %>-form"></textarea>
										</div>
									</div>
								</div>
								
								<h3>Link</h3>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label for="link" class="control-label">Link</label>
											<input id="link" name="link" type="text" class="form-control link-control form-white" form="<%= ID %>-form">
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input id="published" name="published" type="checkbox" form="<%= ID %>-form">
											<label for="published">Published</label>
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<h3>Color</h3>
						
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="color" class="control-label">Color</label>
											<input id="color" name="color" type="text" class="form-control form-white" form="<%= ID %>-form">
										</div>
									</div>
								
								</div>
								
							</div>
								
						</div>
						
					</div>
					
					
					<div class="tab-pane fade" id="<%= ID %>-form-logo" name="logo" form="<%= ID %>-form">
					</div>
					
					
					<div class="tab-pane fade" id="<%= ID %>-form-image" name="image" form="<%= ID %>-form">
					</div>
					
					
					<div class="tab-pane fade" id="<%= ID %>-form-address">
				
						<div class="row">
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="city" class="control-label">City</label>
									<input id="city" name="city" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="country" class="control-label">Country</label>
									<input id="country" name="country" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="stateOrProvinceCode" class="control-label">State</label>
									<input id="stateOrProvinceCode" name="stateOrProvinceCode" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
							<div class="col-md-3">
								<div class="form-group">
									<label for="postalCode" class="control-label">Zip</label>
									<input id="postalCode" name="postalCode" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label for="streetLines" class="control-label">Address</label>
									<input id="streetLines" name="streetLines" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>							
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="phoneNumber" class="control-label">Phone</label>
									<input id="phoneNumber" name="phoneNumber" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="emailAddress" class="control-label">Email</label>
									<input id="emailAddress" name="emailAddress" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
						</div>
						
						<h3>Location</h3>
						
						<div class="row">
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="locationLatitude" class="control-label">Latitude</label>
									<input id="locationLatitude" name="location" rel="latitude" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<label for="locationLongitude" class="control-label">Longitude</label>
									<input id="locationLongitude" name="location" rel="longitude" type="text" class="form-control form-white" form="<%= ID %>-form">
								</div>
							</div>
							
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="<%= ID %>-form-security" name="security" form="<%= ID %>-form">
					</div>
					
					
					<div class="tab-pane fade" id="<%= ID %>-form-map" name="mapImage" form="<%= ID %>-form">
					</div>
							
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<form id="<%= ID %>-form">
					<button type="submit" class="btn btn-primary btn-embossed">Save changes</button>
					<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>