<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label for="code" class="control-label">Code</label>
			<input id="code" name="code" type="text" class="form-control form-white" form="<%= ID %>-form">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group">
			<label for="title" class="control-label">Title</label>
			<input id="title" name="title" type="text" class="form-control multilanguage-control form-white" form="<%= ID %>-form">
		</div>
	</div>
</div>

<form id="<%= ID %>-form">
	<div class="m-t-20">
		<button class="btn btn-sm btn-dark" type="submit" rel="<%= ID %>"><i class="fa fa-plus"></i> Update</button>
	</div>
</form>