<div class="row column-seperation">
							
	<div class="col-md-6 line-separator">
		
		<h3>SKU List</h3>
		
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-1">&nbsp;</th>
					<th class="col-md-2">Code</th>
					<th class="col-md-5">Types</th>
					<th class="col-md-1">Quantity</th>
					<th class="col-md-1">Price</th>
					<th class="col-md-2">Actions</th>
				</tr>
			</thead>
			<tbody role="items">
			</tbody>
		</table>
		
		<div class="m-t-20">
			<button class="btn btn-sm btn-dark" data-action="create" rel="<%= ID %>"><i class="fa fa-plus"></i> Add New <%= TITLE %></button>
		</div>
	
	</div>
	
	<div class="col-md-6" role="form" rel="<%= ID %>">
		
	</div>

</div>