<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>Timeline</strong> <span class="model-op">view</span> <span class="model-id"></span></h4>
			</div>
			<div class="modal-body">
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#timeline-form-timeline" data-toggle="tab"><i class="icon-info"></i> Timeline</a></li>
					<li><a href="#timeline-form-product" data-toggle="tab"><i class="icon-layers"></i> Products</a></li>
					<li><a href="#timeline-form-promo-discount" data-toggle="tab"><i class="icon-basket-loaded"></i> Promo Discount</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="timeline-form-timeline">
				
						<div class="row column-seperation">
							
							<div class="col-md-6 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Title</label>
											<p data-name="timelineTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Subtitle</label>
											<p data-name="timelineSubTitle" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Description</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="timelineDescription">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
								
								<div class="row">
									
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Available Countries</label>
											<p data-name="availableCountry" class="form-control tags">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Sharing Link</label>
											<p data-name="sharingLink" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Tapstream Link</label>
											<p data-name="tapstreamLink" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Font color</label>
											<p data-name="fontColor" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Is main?</label>
											<p data-name="isMain" class="form-control">&nbsp;</p>
										</div>
									</div>
									
								</div>
								
								<div class="row">
											
									<div class="col-md-12">
										<div class="form-group">
											<label class="control-label">Don’t show in the app</label>
											<p data-name="dontShow" class="form-control">&nbsp;</p>
										</div>
									</div>
									
								</div>
								
							</div>
							
							<div class="col-md-6">
								
								<h3>Picture</h3>
								
								<div class="row">
								
									<div class="col-md-12">
										<div class="form-group">
											<div id="timelinePicture"></div>
										</div>
									</div>
									
								</div>
								
							</div>
								
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="timeline-form-product">
						<p>Under construction</p>
					</div>
					
					
					<div class="tab-pane fade" id="timeline-form-promo-discount">
				
						<div class="row column-seperation">
							
							<div class="col-md-4 line-separator">
								
								<h3>General</h3>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="promoDiscount" class="control-label">Discount value, <small>USD</small></label>
											<p data-name="promoDiscount" class="form-control">&nbsp;</p>
										</div>
									</div>
								
								</div>
								
								<div class="row">
							
									<div class="col-md-12">
										<div class="form-group">
											<label for="wonTextNotification" class="control-label">Won notification text</label>
											<div class="form-control mCustomScrollbar" style="max-height: 200px;">
												<p data-name="wonTextNotification">&nbsp;</p>
											</div>
										</div>
									</div>
								
								</div>
							
							</div>
							
							<div class="col-md-8">
								
								<h3>Auth required image</h3>
								
								<div class="row">
								
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPhone</label>
											<div id="authRequiredImagePhone"></div>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPad</label>
											<div id="authRequiredImageTablet"></div>
										</div>
									</div>
									
								</div>
								
								<h3>Discount image</h3>
								
								<div class="row">
								
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPhone</label>
											<div id="discountImagePhone"></div>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPad</label>
											<div id="discountImageTablet"></div>
										</div>
									</div>
									
								</div>
								
								<h3>Won image</h3>
								
								<div class="row">
								
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPhone</label>
											<div id="wonImagePhone"></div>
										</div>
									</div>
									
									<div class="col-md-6">
										<div class="form-group">
											<label class="control-label">iPad</label>
											<div id="wonImageTablet"></div>
										</div>
									</div>
									
								</div>
								
							</div>
						
						</div>
					
					</div>
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>