<% if (this.options.theme === THEME_TYPE_TABLE) { %>
	<td><%= subject._text || '&mdash;' %></td>
	<td><%= _type %></td>
	<% if (primary) { %><td class="text-success">Yes</td><% } else { %><td class="text-danger">No</td><% } %>
	<% if (private) { %><td class="text-success">Yes</td><% } else { %><td class="text-danger">No</td><% } %>
	<% if (published) { %><td class="text-success">Yes</td><% } else { %><td class="text-danger">No</td><% } %>
	<td class="text-right">
		<%/* if (promoDiscount) { %>
			<a href="#" class="edit btn btn-sm btn-blue" data-action="draw" data-id="<%= id %>" rel="<%= ID %>" title="Draw promo discount"><i class="icon-wrench"></i></a>
		<% } */%>
		<a href="#" class="edit btn btn-sm btn-default" data-action="update" data-id="<%= id %>" rel="<%= ID %>" title="Update"><i class="icon-note"></i></a>
	</td>
<% } else if (this.options.theme === THEME_TYPE_GALLERY) { %>
	<div class="thumbnail">
		<img src="<%= _thumb || ASSET_NO_IMAGE %>">
		<div class="caption">
			<h3 title="<%= subject._text || '&mdash;' %>"><%= subject._text || '&mdash;' %></h3>
			<p>
				<%= _type %>
			</p>
			<p>
				<%= [
					primary ? '<span class="text-success">primary</span>' : '<span class="text-success">secondary</span>',
					private ? '<span class="text-success">private</span>' : '<span class="text-success">public</span>',
					published ? '<span class="text-success">published</span>' : '<span class="text-success">unpublished</span>'
					].join(', ')
				%>
			</p>
			<p>
				<a href="#" class="edit btn btn-sm btn-default pull-right" data-action="update" data-id="<%= id %>" rel="<%= ID %>"><i class="icon-note"></i></a>
			</p>
		</div>
	</div>
<% } %>