<div class="panel">
	<div class="panel-content table-responsive">
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-9">
				</div>
				<div class="col-xs-3">
					<div class="navbar-collapse">
						<div class="dataTables_filter" role="search"></div>
					</div>
				</div>
			</div>
			<table class="table table-hover dataTable">
				<thead role="sorting">
				</thead>
				<tbody role="items">
				</tbody>
			</table>
			<div class="row" role="pagination"></div>
		</div>
	</div>
</div>

<div rel="<%= ID %>" role="view"></div>
