<section style="opacity: 1;">
	<div class="sidebar">
		<div class="logopanel">
			<h1><a href="#"></a></h1>
		</div>
		<div class="sidebar-inner" role="mainmenu">
		</div>
	</div>
	<div class="main-content" role="notification">
		<div class="topbar" role="header"></div>
		<div class="noty-container"></div>
		<div class="page-content">
			<div class="header">
				<h2 role="page-title"><strong>Blank</strong> Page</h2>
				<div class="breadcrumb-wrapper">
					<ol class="breadcrumb" role="breadcrumb">
						</li>
					</ol>
				</div>
			</div>
			
			<div class="row">
				<div id="body" class="col-lg-12 portlets"></div>
			</div>
			<div class="footer" role="footer">
			</div>
		</div>
	</div>
</section>