<div class="panel">
	<div class="panel-content table-responsive">
		<div class="m-b-20">
			<button class="btn btn-sm btn-dark" data-action="create" rel="<%= ID %>"><i class="fa fa-plus"></i> Add New <%= TITLE %></button>
		</div>
		<div class="form-inline">
			<div class="row" role="navigation">
				<div class="col-xs-9">
				</div>
				<div class="col-xs-3">
					<div class="navbar-collapse">
						<div class="dataTables_filter" role="search"></div>
					</div>
				</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-10">Name</th>
						<th class="col-md-1">Published</th>
						<th class="col-md-1">Actions</th>
					</tr>
				</thead>
				<tbody role="items">
				</tbody>
			</table>
			<div class="row" role="pagination"></div>
		</div>
	</div>
</div>

<div role="form" rel="<%= ID %>"></div>
