<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-topfull">
		<div class="modal-content">
			<div class="modal-header bg-dark">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
				<h4 class="modal-title"><strong>User</strong> <span class="model-op">view</span> <span class="model-id"></span></h4>
			</div>
			<div class="modal-body" role="notification">
				
				<div class="noty-container"></div>
				
				<ul class="nav nav-tabs nav-primary">
					<li><a href="#user-view-general" data-toggle="tab"><i class="icon-info"></i> General</a></li>
					<li><a href="#user-view-transaction" data-toggle="tab"><i class="icon-layers"></i> Transactions</a></li>
				</ul>
				
				<div class="tab-content">
					
					<div class="tab-pane fade" id="user-view-general">
				
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Username</label>
									<p data-name="username" class="form-control">&nbsp;</p>
								</div>
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Full name</label>
									<p data-name="fullName" class="form-control">&nbsp;</p>
								</div>
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Phone number</label>
									<p data-name="phoneNumber" class="form-control">&nbsp;</p>
								</div>
							</div>
						
						</div>
						
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group">
									<label class="control-label">Balance</label>
									<p data-name="balance" class="form-control">&nbsp;</p>
								</div>
							</div>
							
						</div>
					
					</div>
					
					
					<div class="tab-pane fade" id="user-view-transaction">
					</div>
					
				
				</div>
					
			</div>
			<div class="modal-footer bg-dark">
				<button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>