<div class="row">
	<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
		<div class="error-container">
			<div class="error-main">
				<h1>500</h1>
				<h3>Internal server error.</h3>
				<h4>Go back to our site or contact us about the problem. |</h4>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="copyright">
		<span>Copyright <span class="copyright">&copy;</span> 2015 </span>
		<span>Curatum Web Admin</span>. <span>All rights reserved. </span>
	</div>
</div>